:host {
  margin-top: 12px;
  display: block;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.homepage {
  .icon {
    font-size: 32px;
  }
  .web-name {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    padding-left: 12px;
  }
}

.functional {
  display: flex;
  .email {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    strong {
      padding-right: 6px;
    }
  }
}

.btn-auth {
  padding: 0 4px;
}
.wrapper-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  span {
    width: 20%;
  }
  .input-url {
    width: 60%;
  }
}
.btn-action {
  width: 100%;
  margin-top: 20px;
  span {
    width: 20%;
    display: inline-block;
  }
  button {
    width: 60%;
  }
}
.modal-footer {
  display: none;
}
